################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BAL/bin
/BAL/obj
/BO/obj
/BO/bin
/DAL/obj
/DAL/bin
/Unmehta.WebPortal.Common/obj
/Unmehta.WebPortal.Common/bin
/Unmehta.WebPortal.Data/obj
/Unmehta.WebPortal.Data/bin
/Unmehta.WebPortal.Model/obj
/Unmehta.WebPortal.Model/bin
/Unmehta.WebPortal.Repository/obj
/Unmehta.WebPortal.Repository/bin
/Unmehta.WebPortal.Web/bin
/Unmehta.WebPortal.Web/obj
/Unmehta.WebPortal.Web/LogError
/.vs/
/Crystal Reports Backup Files
/Unmehta.WebPortal.Web/Admin/FilesCMS/NewsFiles
/Unmehta.WebPortal.Web/Admin/FilesCMS/AwardImage
/Unmehta.WebPortal.Web/Admin/FilesCMS/Scheme
/Unmehta.WebPortal.Web/Admin/FilesCMS
/UNMehtaNew.rar
/UnMehta.WebPortal.EmailScheduler/bin/Debug
/UnMehta.WebPortal.EmailScheduler/obj
/UnMehta.WebPortal.EmailScheduler/bin/Release
/Unmehta.WebPortal.Web/Admission/FilesStudent/MarksheetDoc
/Unmehta.WebPortal.Web/Admission/FilesStudent
/Unmehta.WebPortal.Web/About/About.rar
/UnMehta.Admission.PaymentScheduler/bin
/UnMehta.Admission.PaymentScheduler/obj
/Unmehta.WebPortal.Web/Admin/ZIPTempPath
/UNnMehta.Appointment.SMSReminder/bin/Debug/Log/2024-06-12/ReminderSMSService
