<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString"
            connectionString="Data Source=10.1.159.2;Initial Catalog=UNMehta;User ID=sa;Password=gil@123456"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString1"
            connectionString="Data Source=10.1.159.21,1433;Initial Catalog=UNMehta;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString2"
            connectionString="Data Source=10.1.159.2;Initial Catalog=UNMehta;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString3"
            connectionString="Data Source=10.1.159.2\SQLDBSERVER;Initial Catalog=UNMehta;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString4"
            connectionString="Data Source=10.1.159.2\SQLDBSERVER;Initial Catalog=UNMehta;User ID=sa;Password=gil@123456"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString5"
            connectionString="Data Source=LAPTOP-B7AUVFOV;Initial Catalog=UNMehta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMehtaConnectionString6"
            connectionString="Data Source=DESKTOP-BTU2VHK;Initial Catalog=UNMehta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.unmehtaConnectionString7"
            connectionString="Data Source=10.10.2.150;Initial Catalog=unmehta;User ID=gil"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.unmehtaConnectionString8"
            connectionString="Data Source=192.168.8.88\SQLEXPRESS;Initial Catalog=unmehta;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMWebConnectionString"
            connectionString="Data Source=LAPTOP-B7AUVFOV;Initial Catalog=UNMWeb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Unmehta.WebPortal.Data.Properties.Settings.UNMWebConnectionString1"
            connectionString="Data Source=PRO500AM4-M5;Initial Catalog=UNMWeb;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
