<div class="col-lg-4 chat-sidebar border-right">

    <!-- begin::chat sidebar search -->
    <div class="chat-sidebar-header">
        <div class="d-flex">
            <div class="pr-3">
                <div class="avatar avatar-sm">
                    <img src="https://via.placeholder.com/128X128" class="rounded-circle"
                         alt="image">
                </div>
            </div>
            <div>
                <h6 class="mb-1">Nikos Pedlow</h6>
                <div class="m-0 small text-muted">Administrator</div>
            </div>
            <div class="ml-auto">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="width-18 height-18" data-toggle="tooltip" title="Settings"
                           data-feather="settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">View Profile</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Add status</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Chat search"
                       aria-describedby="button-addon1">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" id="button-addon1">
                        <i class="ti-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- begin::chat sidebar search -->

    <!-- end::chat list -->
    <div class="chat-sidebar-content">
        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                   role="tab" aria-controls="pills-home" aria-selected="true">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                   role="tab" aria-controls="pills-profile" aria-selected="false">Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                   role="tab" aria-controls="pills-contact" aria-selected="false">Contacts</a>
            </li>
        </ul>
        <div class="tab-content pt-3" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                 aria-labelledby="pills-home-tab">
                <p class="small mb-0">Recent chats</p>
                <div class="chat-lists">
                    <div class="list-group list-group-flush">
                        <a href="#"
                           class="list-group-item d-flex align-items-center link-1 pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-danger">
                                    <span class="avatar-title bg-success rounded-circle">F</span>
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Francisco Ubsdale</h6>
                                <span class="small text-muted">Hello how are you?</span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="badge badge-primary badge-pill ml-auto">1</span>
                                <span class="small text-muted">2:32 PM</span>
                            </div>
                        </a>
                        <a href="#"
                           class="list-group-item d-flex align-items-center link-1 pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-success">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Natale Janu</h6>
                                <span class="small text-muted">Hi!</span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="badge badge-primary badge-pill ml-auto">3</span>
                                <span class="small text-muted">08:27 PM</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item active d-flex pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                            <span class="avatar avatar-sm avatar-state-warning">
                                                <img src="https://via.placeholder.com/128X128"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Orelie Rockhall</h6>
                                <span class="small text-muted">
                                                <i class="fa fa-image mr-1"></i> Photo
                                            </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">Yesterday</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                            <span class="avatar avatar-sm avatar-state-info">
                                                <img src="https://via.placeholder.com/128X128"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Barbette Bolf</h6>
                                <span class="small text-muted">
                                                <i class="fa fa-video-camera mr-1"></i> Video
                                            </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">Last week</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                            <span class="avatar avatar-sm avatar-state-secondary">
                                                <span class="avatar-title bg-warning rounded-circle">D</span>
                                            </span>
                            </div>
                            <div>
                                <h6 class="mb-1">Dudley Laborde</h6>
                                <span class="small text-muted">Hello how are you?</span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">2:32 PM</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                            <span class="avatar avatar-sm avatar-state-success">
                                                <img src="https://via.placeholder.com/128X128"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                            </div>
                            <div>
                                <h6 class="mb-1">Boony Gidden</h6>
                                <span class="small text-muted">Hi!</span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">08:27 PM</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                            <span class="avatar avatar-sm avatar-state-danger">
                                                <img src="https://via.placeholder.com/128X128"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Vivianne Sothcott</h6>
                                <span class="small text-muted">
                                                <i class="fa fa-image mr-1"></i> Photo
                                            </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">Yesterday</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                            <span class="avatar avatar-sm avatar-state-warning">
                                                <img src="https://via.placeholder.com/128X128"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Brandais Reisen</h6>
                                <span class="small text-muted">
                                                <i class="fa fa-video-camera mr-1"></i> Video
                                            </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">Last week</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                 aria-labelledby="pills-profile-tab">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item d-flex pl-0 pr-0 pb-3 pt-3">
                        <div class="pr-3">
                            <div class="avatar avatar-sm avatar-state-warning">
                                <img src="https://via.placeholder.com/128X128"
                                     class="rounded-circle"
                                     alt="image">
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Orelie Rockhall</h6>
                            <div class="small text-muted d-flex align-items-center">
                                <i class="width-15 height-15 mr-1 text-danger"
                                   data-feather="arrow-down-left"></i>
                                Today, 03:11 AM
                            </div>
                        </div>
                        <div class="text-right ml-auto">
                            <i class="text-danger width-18 height-18" data-feather="video"></i>
                        </div>
                    </a>
                    <a href="#" class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                        <div class="pr-3">
                            <div class="avatar avatar-sm avatar-state-success">
                                <img src="https://via.placeholder.com/128X128"
                                     class="rounded-circle"
                                     alt="image">
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-1">Barbette Bolf</h6>
                            <div class="small text-muted d-flex align-items-center">
                                <i class="width-15 height-15 mr-1 text-success"
                                   data-feather="arrow-up-right"></i>
                                Today, 03:11 AM
                            </div>
                        </div>
                        <div class="text-right ml-auto">
                            <i class="width-18 height-18 text-success"
                               data-feather="phone-call"></i>
                        </div>
                    </a>
                    <a href="#" class="list-group-item d-flex pl-0 pr-0 pb-3 pt-3">
                        <div class="pr-3">
                            <div class="avatar avatar-sm avatar-state-warning">
                                <img src="https://via.placeholder.com/128X128"
                                     class="rounded-circle"
                                     alt="image">
                            </div>
                        </div>
                        <div class="flex-grow- 1">
                            <h6 class="mb-1">Natale Janu</h6>
                            <div class="small text-muted d-flex align-items-center">
                                <i class="width-15 height-15 mr-1 text-success"
                                   data-feather="arrow-up-right"></i>
                                Today, 03:11 AM
                            </div>
                        </div>
                        <div class="text-right ml-auto">
                            <i class="width-18 height-18 text-success" data-feather="video"></i>
                        </div>
                    </a>
                    <a href="#" class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                        <div class="pr-3">
                            <div class="avatar avatar-sm avatar-state-secondary">
                                <span class="avatar-title bg-info rounded-circle">T</span>
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-1">Terra Fehner</h6>
                            <div class="small text-muted d-flex align-items-center">
                                <i class="width-15 height-15 mr-1 text-danger"
                                   data-feather="arrow-down-left"></i>
                                Today, 03:11 AM
                            </div>
                        </div>
                        <div class="text-right ml-auto">
                            <i class="width-18 height-18 text-danger" data-feather="video"></i>
                        </div>
                    </a>
                    <a href="#" class="list-group-item d-flex pl-0 pr-0 pb-3 pt-3">
                        <div class="pr-3">
                            <div class="avatar avatar-sm avatar-state-info">
                                <img src="https://via.placeholder.com/128X128"
                                     class="rounded-circle"
                                     alt="image">
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Orelie Rockhall</h6>
                            <div class="small text-muted d-flex align-items-center">
                                <i class="width-15 height-15 mr-1 text-success"
                                   data-feather="arrow-up-right"></i>
                                Today, 03:11 AM
                            </div>
                        </div>
                        <div class="text-right ml-auto">
                            <i class="width-18 height-18 text-success"
                               data-feather="phone-call"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                 aria-labelledby="pills-contact-tab">
                <p class="small mb-0">142 Contacts</p>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-danger">
                                    <span class="avatar-title bg-success rounded-circle">A</span>
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Alene Ranyelld</h6>
                                <div class="small text-muted">United Kingdom</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-success">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Chloette Fewster</h6>
                                <div class="small text-muted">Estonia</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-warning">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Stephanus Shergill</h6>
                                <div class="small text-muted">Austria</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-info">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Elvyn Frowde</h6>
                                <div class="small text-muted">Canada</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-secondary">
                                    <span class="avatar-title bg-success rounded-circle">A</span>
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Alene Ranyelld</h6>
                                <div class="small text-muted">Canada</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-success">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Chloette Fewster</h6>
                                <div class="small text-muted">Spain</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-danger">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Stephanus Shergill</h6>
                                <div class="small text-muted">Romania</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center pl-0 pr-0 pb-3 pt-3">
                            <div class="pr-3">
                                <div class="avatar avatar-sm avatar-state-warning">
                                    <img src="https://via.placeholder.com/128X128"
                                         class="rounded-circle"
                                         alt="image">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Elvyn Frowde</h6>
                                <div class="small text-muted">New Zealand</div>
                            </div>
                            <div class="text-right ml-auto">
                                <a href="#" class="p-1">
                                    <i data-feather="phone-call" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="message-circle" class="width-18 height-18"></i>
                                </a>
                                <a href="#" class="p-1">
                                    <i data-feather="video" class="width-18 height-18"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-outline-light btn-sm">More Contact</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end::chat list -->

</div>