<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="UNMehtaConnectionString" connectionString="data source=DESKTOP-05FU2F8;Initial Catalog=UNMehtaAudit;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="UnMehta.Admission.PaymentScheduler.Properties.Settings.UNMehtaConnectionString"
   connectionString="Data Source=10.1.159.2;Initial Catalog=UNMehta;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="UnMehta.Admission.PaymentScheduler.Properties.Settings.UNMehtaAuditConnectionString"
   connectionString="Data Source=DESKTOP-05FU2F8;Initial Catalog=UNMehtaAudit;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

	<appSettings>
		<add key="Mode" value="Interval"/>

		<add key="ScheduledTime" value="10:30"/>
		<!-- <add key ="Mode" value ="Interval"/>-->
		<add key="IntervalMinutes" value="10"/>

		<add key="WebHostedPath" value="D:/Live/Projects/UNMehtaNew/Unmehta.WebPortal.Web/"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
